<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trkpo.ptinder">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/baseline_pets_black_36"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/baseline_pets_black_36"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.LoginUserInfoActivity"></activity>
        <activity
            android:name=".activity.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.PetRegistrationActivity"
            android:label="@string/title_activity_pet_registration"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>